* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ig-primary-background: #FFFFFF;
  --ig-secondary-background: #FAFAFA;
  --ig-primary-text: #262626;
  --ig-secondary-text: #8e8e8e;
  --ig-border-color: #DBDBDB;
  --ig-blue: #0095F6;
  --ig-blue-hover: #1877F2;
  --ig-error: #ED4956;
  --ig-link: #00376B;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--ig-secondary-background);
  color: var(--ig-primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
